$bg-main-dark: #17336b;
$blue2: #083881;
$light-blue: #c5dcff;
$light-blue-2: #93baf5;
$grey: #f3f4f6;
$sent: darkgrey;
$seen: lightblue;
$devider-grey-color: #a6a7aa;

//====== NEW COLORS =======//

$electric-green: #cbe348;
$btn-success-color: #80B966;
$green-accepted: #5cb85c;
$forest-green: #486F4C;

$uranian-blue: #b9e5fc;
$baby-blue: #80bbe8;
$navy: #263669;
$violette: #2727dd;
$dark-sapphire: #275163;


$bg-gray: #f3f3f3;
$fog-gray: #d8d8d8;

$orange: #df9a39;
$creamsicle: #ef8d56;
$red-declined: #d9534f;
$badge-danger: #d74b4b;
$bright-red-hover: #d5221c;
$bright-red: #d12f2f;
